@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
        /* Background gradient */
        --Soft-violet: hsl(273, 75%, 66%);
        --Soft-blue: hsl(240, 73%, 65%);

        /* Primary Text Colors*/
        --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
        --Soft-red: hsl(14, 88%, 65%);

        /* Neutral Text Colors */
        --Very-dark-grayish-blue: hsl(237, 12%, 33%);
        --Dark-grayish-blue: hsl(240, 6%, 50%);

        /* Divider */
        --Light-grayish-blue: hsl(240, 5%, 91%);
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        font-family: 'Kumbh Sans', sans-serif;
        background: linear-gradient(
                                hsl(273, 75%, 66%), 
                                hsl(240, 73%, 65%));
}

.container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55rem;
        padding: 3rem 0;
        border-radius: 20px;
        background-color: white;
        background-image: url(./bg-pattern-desktop.svg);
        background-position: -30.5rem -16rem;
        background-repeat: no-repeat;
        background-size: 96%;
}

.img-container {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
}

.img-container .hero {
        position: relative;
        z-index: 10;
        width: 27rem;
        margin-left: -10rem;
}

.box {
        position: absolute;
        width: 10rem;
        z-index: 20;
        top: 11rem;
        left: -4.890rem;
}

.faq-container {
        padding-right: 6rem;
}

.faq-container h1 {
        font-size: 1.680rem;
        margin-bottom: 1rem;
        color: var(--Very-dark-desaturated-blue);
}

.accordion {
        max-width: 800px;
}

.accordion .faqs {
        position: relative;
}

.accordion .faqs .question {
        position: relative;
        padding: 1rem 0;
        font-size: 0.9rem;
        color: var(--Very-dark-desaturated-blue);
        cursor: pointer;
        transition: 0.3s;
}

.accordion .faqs .question:hover {
        color: var(--Soft-red);
}

.question::before {
        content: url(./icon-arrow-down.svg);
        position: absolute;
        /* top: 50%; */
        right: 10px;
        transition: 0.5s;
}

.accordion .faqs.active .question {
        font-weight: 700;
}

.accordion .faqs.active .question::before {
        transform: rotate(180deg);
}

.accordion .faqs .answer {
        font-size: 0.7rem;
        position: relative;
        height: 0;
        line-height: 1.6;
        border-bottom: 1px solid var(--Light-grayish-blue);
        overflow-y: auto;
        overflow: hidden;
        transition: 0.5s;
}

.accordion .faqs.active .answer {
        height: 50px;
        color: var(--Very-dark-grayish-blue);
}

@media (max-width: 1024px) {
        html {
                font-size: 90%;
        }
}

@media (max-width: 900px) {
        html {
                font-size: 85%;
        }
}

@media (max-width: 830px) {
        html {
                font-size: 80%;
        }
}

@media (max-width: 780px) {
        .container {
                position: relative;
                width: 35rem;
                flex-direction: column;
                background-size: 55%;
                background-position: 55% -10em;
        }

        .img-container {
                position: relative;
                height: 90px;
                overflow: visible;
        }

        .img-container .hero {
                position: absolute;
                top: -11rem;
                left: 55%;
                width: 18rem;
        }

        .box {
                position: absolute;
                display: block;
                top: -3rem;
                left: 26%;
                width: 7rem;
        }

        .faq-container {
                padding: 0 1.7rem;
        }

        .faq-container h1 {
                text-align: center;
                font-size: 1.9rem;
        }

        .accordion .faqs .question {
                font-size: 0.990rem;
        }

        .accordion .faqs .answer {
                font-size: 0.890rem;
        }
}

@media (max-width: 530px) {
        .container {
                width: 25rem;
                background-size: 60%;
                background-position: center -8rem;
        }

        .img-container {
                height: 70px;
        }

        .img-container .hero {
                top: -9.8rem;
                left: 60%;
                width: 15rem;
        }

        .box {
                top: -2.8rem;
                left: 18%;
                width: 6rem;
        }
}

@media (max-width: 340px) {
        html {
                font-size: 70%;
        }

        .container {
                width: calc(100vw - 3rem);
        }
}